<div class="h-screen flex flex-col items-start justify-center">
    <div #animationBinding class="absolute max-w-full" style="z-index:1">
    </div>
    <div class="ml-8 md:ml-24 z-10 mr-8 md:mr-0">
        <h1 class="md:h-58 w-full md:w-180 
        text-3xl md:text-ultraXl 
        text-white font-bold" translate [innerHtml]="'ANIMATION_TITLE' | translate">
        </h1>
        <h2 class="w-full md:w-180 md:h-24 
        text-baseMoreSeparate md:text-veryXl 
        text-white mt-4 md:mt-0" 
        style="font-family: 'Source Sans Pro'; font-weight:300;" [innerHtml]="'ANIMATION_DESCRIPTION' | translate" translate>
        </h2>
    </div>
</div>
<div class="elementSeparator">

</div>
